.container {
    width: 400%;
    padding-right: 200px;
    padding-left: 330px;
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.presentation .mid {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.presentation {
    position: absolute;
    bottom: -60px;
    right: -100px;
    max-width: 900px;
    z-index: 3;
}

.d-none {
    display: none!important;
}