.container {
    width: 400%;
    padding-right: 200px;
    padding-left: 330px;
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.presentation .mid {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.presentation {
    position: absolute;
    bottom: -60px;
    right: -100px;
    max-width: 900px;
    z-index: 3;
}

.d-none {
    display: none!important;
}

.presentation h1 {
    font-weight: 900;
    font-size: 72px;
    z-index: 999;
}

@media (max-width: 576px)
.presentation h1 {
    font-size: 46px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.h1, h1 {
    font-size: 2.5rem;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

footer {
    display: block;
}

.text-center {
    text-align: center!important;
}