body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://cdn.glitch.com/e92caf87-e915-4fc3-b084-86da6d83ab38%2Fd.jpg?v=1598547734324) no-repeat center top fixed
}

.text-warning {
    font-size: 18px;
}

.nk-post-date {
    color: red;
}

.nk-footer {
    position: relative;
    color: #eee;
    z-index: 1;
}

.card-title {
    color: white;
}

.card-header {
    color: white
}

.card-text {
    color: rgb(228, 2, 2);
}

.container {
    width: 100%px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-group {
    color: #ff0000;
}

#centro {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

a:link {
    color: white;
}

li {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: underline;
    color: #f00
}

a:active {
    display: inline-block;
    text-decoration: none
}

a {
    color: #000;
    font-weight: bold
        /* negrito no texto */
}

a {
    color: white;
    font-weight: bold
        /* negrito no texto */
        -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    outline: none width:50px;
    height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

p {
    font-size: 16.9px;
}

div {
    border-width: 5px;
    border-style: none;
}